{% extends 'base.html' %} 
{% load static %} 
{% block title %}changes Password{% endblock title %} 
{% block main_content %}
<main>
    <div class="account-area mt-70 mb-70">
        <div class="container">
            <div class="row">

                <!-- LEFT Account PANEL -->
                <div class="col-md-3 mb-4">
                    {% include "account/sidebar.html" %}
                </div>

                <!-- RIGHT USER INFO -->
                <div class="col-md-9">
                    <div class="basic-login mb-50">
                        <h5>changes Password</h5>
                        <form method="post" id="form" action="" class="border p-4 rounded shadow-sm bg-light" novalidate>
                            {% csrf_token %}
                            <div class="alert alert-success alert-success mb-3" style="display: none;"></div> 
                            <div class="alert alert-danger alert-error mb-3" style="display: none;"></div>

                                <div class="form-group mb-3">
                                    {{ form.current_password }}
                                    {{form.errors.current_password}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.password }}
                                    {{form.errors.password}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.password2 }}
                                    {{form.errors.password2}}
                                </div>
                                <button id="changes-password-btn" type="submit" class="tp-in-btn w-100">changes Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
  <!-- ============================ COMPONENT change password  END.// ================================= -->
{% include "ajax/validate-change-password.html" %}
{% endblock main_content %}