{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password Confirm{% endblock title %} 
{% block main_content %}
  <!-- ============================ COMPONENT changes Password   ================================= -->
    <main>
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5>Reset Password Confirm</h5>
                            <form method="post" id="form" action="" class="border p-4 rounded shadow-sm bg-light" novalidate>
                                {% csrf_token %}
                                <div class="alert alert-success alert-success mb-3" style="display: none;"></div> 
                                <div class="alert alert-danger alert-error mb-3" style="display: none;"></div>

                                <div class="form-group mb-3">
                                    {{ form.password }}
                                    {{form.errors.password}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.password2 }}
                                    {{form.errors.password2}}
                                </div>

                                <button id="reset-password-confirm" type="submit" class="tp-in-btn w-100">changes Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
  <!-- ============================ COMPONENT change password  END.// ================================= -->

{% endblock main_content %}