{% extends 'base.html' %} 
{% load static %} 
{% block title %}Reset Password{% endblock title %} 
{% block main_content %}
  <!-- ============================ COMPONENT changes Password   ================================= -->
    <main>
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5>Reset Password</h5>
                            <form method="post" id="form" action="" class="border p-4 rounded shadow-sm bg-light" novalidate>
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    {{ form.email }}
                                    {{form.errors.email}}
                                </div>

                                <button type="submit" class="tp-in-btn w-100">Get Link Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
  <!-- ============================ COMPONENT change password  END.// ================================= -->
{% endblock main_content %}