{% extends 'base.html' %} 
{% load static %} 
{% block title %}Sign Up {% endblock title %} 
{% block main_content %}
  <!-- ============================ COMPONENT Sign up   ================================= -->
    <main>
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="basic-login">
                            <h5>Sign Up</h5>
                            <form action="#">
                                <label for="username">Username <span>*</span></label>
                                <input id="username" type="text" placeholder="Enter Username">
                                <label for="email-id">Email Address <span>*</span></label>
                                <input id="email-id" type="text" placeholder="Email address...">
                                <label for="password">Password <span>*</span></label>
                                <input id="password" type="password" placeholder="Enter password...">
                                <label for="confirm-password">Confirm Password <span>*</span></label>
                                <input id="confirm-password" type="password" placeholder="Confirm password...">
                                <button type="submit" class="tp-in-btn w-100">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
  <!-- ============================ COMPONENT sign up  END.// ================================= -->
{% endblock main_content %}