{% extends 'base.html' %} 
{% load static %} 
{% block title %}Sign In{% endblock title %} 
{% block main_content %}
  <!-- ============================ COMPONENT Sign up   ================================= -->
    <main>
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="basic-login mb-50">
                            <h5>Login</h5>
                            <form method="post" action="" class="border p-4 rounded shadow-sm bg-light" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="mb-3 text-start">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                
                                {% if form.non_field_errors %}
                                    <div class="text-danger small mb-3">{{ form.non_field_errors|striptags }}</div>
                                {% endif %}
                                <button type="submit" class="tp-in-btn w-100">Sign In Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>
  <!-- ============================ COMPONENT sign in  END.// ================================= -->
{% endblock main_content %}
  <script>
    $(document).ready(function(){

      $('#signBtn').on("click", function(e) {
        e.preventDefault();
    
        let username = $('#form #id_username').val().trim();
        let password = $('#form #id_password').val().trim();
        let csrfmiddlewaretoken = $('#form input[name=csrfmiddlewaretoken]').val();
    
        if (username.length > 0 && password.length > 0) {
            $.ajax({
                url: "{% url 'sign' %}",
                method: "POST",
                headers: { 
                  "X-CSRFToken": csrfmiddlewaretoken  // CSRF token passing
                },
                contentType: "application/json",
                data: JSON.stringify({username: username, password: password}),
                dataType: "json",
                success: function(res) {
                    if (res.status == 200) {

                        alertify.success('Admin login successful!');
                        window.location.href = "/admin"; // Redirect to admin panel

                    } else if (res.status == 201) {

                        alertify.success('User login successful!');
                        window.location.href = "/"; // Redirect to homepage

                    } else if (res.status == 403) {
              
                        alertify.error('Your account is not active!');
                        $('#form')[0].reset();

                    } else if (res.status == 400) {

                        alertify.error(res.messages);
                        $('#form')[0].reset();

                    }
                    else  if (res.status == 500) {

                        alertify.error(res.messages);
                        $('#form')[0].reset();

                    }
                },
            });
        } else {
            if (username === "") {
                alertify.error('Please enter your username or email.');
            }
            if (password === "") {
                alertify.error('Please enter your password.');
            }
        }
    });
    
      //All Validation
      $( "#id_username" ).on( "keyup blur change input focus", function(e){
        e.preventDefault();
        const username = $("#form #id_username").val().trim();
        if(username.length > 0){
          $.ajax({
            url:"{% url 'signinvalidation' %}",
            method:"POST",
            data: JSON.stringify({username:username}),
            contentType: "application/json",
            dataType:"json",
            success:function(res){
              if(res.username_error){
                $("#id_username").addClass("is-invalid");
                $(".username-error").html(res.username_error);
                $(".username-error").css("display", "block");
                $("#signupBtn").attr('disabled', true);
              }
              else{
                if(res.username_valid){
                  $("#id_username").removeClass("is-invalid");
                  $("#id_username").addClass("is-valid");
                  $(".username-error").css("display", "none");
                  $("#signupBtn").attr('disabled', false);
                }
              } 
            },
          });
        }
      });

  }); 
  </script>