{% extends 'base.html' %} 
{% load static %} 
{% block title %}Sign Up {% endblock title %} 
{% block main_content %}
  <!-- ============================ COMPONENT Sign up   ================================= -->
    <main>
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="basic-login">
                            <h5>Sign Up</h5>
                            <form id="form" method="post" action="" class="border p-4 rounded shadow-sm bg-light" novalidate>
                                {% csrf_token %}
                                <div class="alert alert-success alert-success mb-3" style="display: none;"></div> 
                                <div class="alert alert-danger alert-error mb-3" style="display: none;"></div>

                                <div class="form-group mb-3">
                                    {{ form.username }}
                                    {{form.errors.username}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.email }}
                                    {{form.errors.email}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.password }}
                                    {{form.errors.password}}
                                </div>
                                <div class="form-group mb-3">
                                    {{ form.password2 }}
                                    {{form.errors.password2}}
                                </div>

                                <button id="sign-up-btn" type="submit" class="tp-in-btn w-100">Sign Up Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->

    </main>

  <!-- ============================ COMPONENT sign up  END.// ================================= -->


<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
    $(document).ready(function(){    
        $("#form #id_username").on("keyup input", function(e){
            e.preventDefault();

            const username = $(this).val().trim();
            if(username.length > 0){
                $.ajax({
                    url: "{% url 'validate-username' %}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'username': username }),
                    dataType: 'json',
                    success: function(res){
                        if(res.status === 'success'){
                            $("#id_username").removeClass("is-invalid");
                            $("#id_username").addClass("is-valid");
                            $(".alert-error").css("display", "none");
                            $(".alert-success").html(res.message);
                            $(".alert-success").css("display", "block");
                            $("#sign-up-btn").attr('disabled', false);
                        }
                        else if(res.status === 'error'){
                            $("#id_username").addClass("is-invalid");
                            $("#id_username").removeClass("is-valid");
                            $(".alert-success").css("display", "none");
                            $(".alert-error").html(res.message);
                            $(".alert-error").css("display", "block");
                            $("#sign-up-btn").attr('disabled', true);
                        }
                    },
                    error: function(err){
                        console.log("An error occurred: ", err);
                    }
                });
            }
        });

        $("#form #id_email").on("keyup input", function(e){
            e.preventDefault();

            const email = $(this).val().trim();
            if(email.length > 0){
                $.ajax({
                    url: "{% url 'validate-email' %}",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ 'email': email }),
                    dataType: 'json',
                    success: function(res){
                        if(res.status === 'success'){
                            $("#id_email").removeClass("is-invalid");
                            $("#id_email").addClass("is-valid");
                            $(".alert-error").css("display", "none");
                            $(".alert-success").html(res.message);
                            $(".alert-success").css("display", "block");
                            $("#sign-up-btn").attr('disabled', false);
                        }
                        else if(res.status === 'error'){
                            $("#id_email").addClass("is-invalid");
                            $("#id_email").removeClass("is-valid");
                            $(".alert-success").css("display", "none");
                            $(".alert-error").html(res.message);
                            $(".alert-error").css("display", "block");
                            $("#sign-up-btn").attr('disabled', true);
                        }
                    },
                    error: function(err){
                        console.log("An error occurred: ", err);
                    }
                });
            }
        });

        $("#id_password, #id_password2").on("keyup input", function(e){
                e.preventDefault()
                let password = $("#form #id_password").val().trim();
                let password2 = $("#form #id_password2").val().trim();
                if(password.length > 0 && password2.length > 0){
                    $.ajax({
                        url: "{% url 'validate-password' %}",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ 'password': password, 'password2': password2 }),
                        dataType: 'json',
                        success: function(res){
                            if(res.status === 'success'){
                                $("#id_password").removeClass("is-invalid");
                                $("#id_password").addClass("is-valid");
                                $("#id_password2").removeClass("is-invalid");
                                $("#id_password2").addClass("is-valid");
                                $(".alert-error").css("display", "none");
                                $(".alert-success").html(res.message);
                                $(".alert-success").css("display", "block");
                                $("#sign-up-btn").attr('disabled', false);
                            }
                            else if(res.status === 'error'){
                                $("#id_password").addClass("is-invalid");
                                $("#id_password").removeClass("is-valid");
                                $("#id_password2").addClass("is-invalid");
                                $("#id_password2").removeClass("is-valid");
                                $(".alert-success").css("display", "none");
                                $(".alert-error").html(res.message);
                                $(".alert-error").css("display", "block");
                                $("#sign-up-btn").attr('disabled', true);
                            }
                        },
                        error: function(err){
                            console.log("An error occurred: ", err);
                        }
                    });
                }
        });
    });

</script>
{% endblock main_content %}