{% load static %}
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
$(document).ready(function(){    
    $("#form #id_username").on("keyup", function(e){
        e.preventDefault();

        const username = $(this).val().trim();
        if(username.length > 0){
            $.ajax({
                url: "{% url 'validate-username' %}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'username': username }),
                dataType: 'json',
                success: function(res){
                    if(res.username_valid){
                        console.log(res.username_valid);
                    }
                    else if(res.username_error){
                       console.log(res.username_error);
                    }
                },
                error: function(err){
                    console.log("An error occurred: ", err);
                }
            });
        }
    });
});

</script>