{% load static %}
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
$(document).ready(function(){    
    $("#form #id_username").on("keyup", function(e){
        e.preventDefault();

        const username = $(this).val().trim();
        if(username.length > 0){
            $.ajax({
                url: "{% url 'validate-username' %}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'username': username }),
                dataType: 'json',
                success: function(res){
                    if(res.username_valid){
                        $("#id_username").removeClass("is-invalid");
                        $("#id_username").addClass("is-valid");
                        $(".alert-error").css("display", "none");
                        $(".alert-success").html(res.username_valid);
                        $(".alert-success").css("display", "block");
                        $("#sign-up-btn").attr('disabled', false);
                    }
                    else if(res.username_error){
                        $("#id_username").addClass("is-invalid");
                        $("#id_username").removeClass("is-valid");
                        $(".alert-success").css("display", "none");
                        $(".alert-error").html(res.username_error);
                        $(".alert-error").css("display", "block");
                        $("#sign-up-btn").attr('disabled', true);
                    }
                },
                error: function(err){
                    console.log("An error occurred: ", err);
                }
            });
        }
    });
});

</script>