{% load static %}
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
$(document).ready(function() {
    // ================== CSRF TOKEN ==================
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    // Checkbox or price change triggers filter
    $('.filter-checkbox, #maxPrice').on('change', function(e) {
        e.preventDefault();
        let filter_object = {};
        // Gather all selected filters
        $('.filter-checkbox:checked').each(function () {
            let key = $(this).data('filter');
            let value = $(this).val();
            // Initialize array if not present
            if (!filter_object[key]) {
                filter_object[key] = [];
            }
            filter_object[key].push(value);
        });

        filter_object['maxPrice'] = $('#maxPrice').val();
        $('#priceValue').text('Max : ' + filter_object['maxPrice']);

        $.ajax({
            url: "{% url 'get-filter-products' %}",
            type: "POST",
            data: filter_object,
            headers: { 'X-CSRFToken': csrftoken },
            success: function(res) {
                $('#product-grid').html(res.html);
            }
        });
    });


    // All Filters — Select/Unselect all
    $("#all-filters").on('change', function() {
        let is_checked = $(this).is(":checked");
        $(".filter-checkbox").prop("checked", is_checked);
        $("#maxPrice").trigger("change");
    });
});
</script>
