{% load static %}
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script>
$(document).ready(function(){    
    $("#id_password, #id_password2").on("keyup input", function(e){
        e.preventDefault()
        let password = $("#form #id_password").val().trim();
        let password2 = $("#form #id_password2").val().trim();
        if(password.length > 0 && password2.length > 0){
            $.ajax({
                url: "{% url 'validate-password' %}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 'password': password, 'password2': password2 }),
                dataType: 'json',
                success: function(res){
                    if(res.status === 'success'){
                        $("#id_password").removeClass("is-invalid");
                        $("#id_password").addClass("is-valid");
                        $("#id_password2").removeClass("is-invalid");
                        $("#id_password2").addClass("is-valid");
                        $(".alert-error").css("display", "none");
                        $(".alert-success").html(res.message);
                        $(".alert-success").css("display", "block");
                        $("#reset-password-confirm").attr('disabled', false);
                    }
                    else if(res.status === 'error'){
                        $("#id_password").addClass("is-invalid");
                        $("#id_password").removeClass("is-valid");
                        $("#id_password2").addClass("is-invalid");
                        $("#id_password2").removeClass("is-valid");
                        $(".alert-success").css("display", "none");
                        $(".alert-error").html(res.message);
                        $(".alert-error").css("display", "block");
                        $("#reset-password-confirm").attr('disabled', true);
                    }
                },
                error: function(err){
                    console.log("An error occurred: ", err);
                }
            });
        }
   });
});

</script>