/* rating start */
.star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.star.highlighted {
    color: #fbc02d;
    /* hover color */
}

.star.selected {
    color: #ffa000;
    /* clicked color */
}

/* rating end */