{% for review in product.reviews.all %}
    <div class="review-details-des" id="review-{{ review.id }}">
        <div class="author-image mr-15">
            <img src="{{ review.user.profile.image.url|default:'/media/defaults/default.jpg' }}" 
                 alt="{{ review.user.username }}" style="width:50px;height:50px">
        </div>
        <div class="review-details-content">
            <h5>{{ review.rating|floatformat:2 }}</h5>
            <div class="str-info">
                <div class="review-star mr-15">
                    {% for i in "12345" %}
                        {% if forloop.counter <= review.rating %}
                            <i class="text-warning fa fa-star"></i>
                        {% else %}
                            <i class="text-warning fa fa-star-o"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="name-date mb-30">
                <h6>
                    {{ review.user.username }} – 
                    <span>{{ review.created_date|date:"Y-m-d H:i" }}</span>
                </h6>
            </div>
            <p>{{ review.subject }}</p>
            <p>{{ review.comment }}</p>
        </div>
    </div>
{% empty %}
    <p id="no-reviews">No reviews yet.</p>
{% endfor %}
