{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock title %}

{% block main_content %}
<!-- breadcrumb area -->
<section class="breadcrumb__area box-plr-75">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- shop area -->
<div class="shop-area mb-20">
    <div class="container">
        <div class="row">

            <!-- left sidebar -->
            <div class="col-xl-3 col-lg-3">
                <div class="product-widget mb-30">
                    <h5 class="pt-title">Choose Category</h5>
                    <div class="product__category mt-20">

                    </div>
                </div>
            </div>  
             <!-- left sidebar end -->

            <!-- right side: product list area -->
            <div class="col-xl-9 col-lg-8">

                <!-- Banner -->
                <div class="shop-banner mb-30">
                    <div class="banner-image">
                        <img class="banner-l" src="{% static 'assets/img/banner/sl-banner.jpg' %}" alt="">
                        <img class="banner-sm" src="{% static 'assets/img/banner/sl-banner-sm.png' %}" alt="">
                        <div class="banner-content text-center">
                            <p class="banner-text mb-30">
                                Hurry Up! <br> Free Shipping All Order Over $99
                            </p>
                            <a href="shop.html" class="st-btn-d b-radius">Discover now</a>
                        </div>
                    </div>
                </div>

                <!-- Product Filter Top -->
                <div class="product-lists-top">
                    <div class="product__filter-wrap">
                        <div class="row align-items-center">
                            
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="product__filter d-sm-flex align-items-center">
                                    <div class="product__col">
                                        <i class="fal fa-th"></i>                                       
                                        {% with products=products %}
                                            <span>Per page products: {{ products|length }}</span>
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="product__filter-right d-flex align-items-center justify-content-md-end">
                                    <div class="product__sorting product__show-no">
                                        <select name="per_page" id="per_page">
                                            <option>4</option>
                                            <option>8</option>
                                            <option>12</option>
                                            <option>16</option>
                                        </select>
                                    </div>
                                    <div class="product__sorting product__show-position ml-20">
                                        <select>
                                            <option>Latest</option>
                                            <option>New</option>
                                            <option>Upcoming</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Product List -->
                <div class="tab-content" id="productGridTabContent">
                    <div class="tab-pane fade show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
                        <div class="tp-wrapper">
                            <div class="row g-0" id="product-grid">

                                {% include 'store/grid.html' %}

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="tp-pagination text-center" id="pagination_grid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="basic-pagination pt-30 pb-30">
                                <nav>
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                        <li>
                                            <a href="?page={{ page_obj.previous_page_number }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}" class="page-link">&laquo;</a>
                                        </li>
                                        {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="active"><span>{{ num }}</span></li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ num }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}" class="page-link">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li>
                                            <a href="?page={{ page_obj.next_page_number }}{% if sort_option %}&sort={{ sort_option }}{% endif %}{% if per_page %}&per_page={{ per_page }}{% endif %}" class="page-link">&raquo;</a>
                                        </li>
                                        {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- right side end -->

        </div>
    </div>
</div>
<!-- shop-area-end -->

<!-- shop modal start -->
{% include 'store/product-modals.html' %}
<!-- shop modal end -->
{% endblock main_content %}